{% extends 'html_sample.html' %}

{% block styles %}
  nav {
    display: none;
  }
{% endblock %}

{% block content %}
  <div class="form">
    <h2>Вход</h2>

    {% if answer %}
      <h3>{{ answer }}</h3>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <ul class="enter-buttons">
        <li><button type="submit" class="button">Войти</button></li>
        <li><button type="button" class="button" onclick="window.location.href='register/'" formnovalidate>Зарегистрироваться</button></li>
      </ul>
    </form>
  </div>
{% endblock %}
