{% load static %}
{% block content %}
    <h1>География</h1>
    <h3>Динамика уровня зарплат по городам</h3>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Средняя зарплата</th>
                    <th>Город</th>
                </tr>
            </thead>
            <tbody>
                {% for e in salaries_by_city %}
                    <tr>
                        <td>{{ e.avg_salary }}</td>
                        <td>{{ e.area_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{% static 'analytics/img/graphs/salary_by_city.png' %}" alt="Уровень зарплат по годам">
    </div>
    <h3>Количество вакансий по городам</h3>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Количество вакансий</th>
                    <th>Доля вакансий в городе</th>
                    <th>Город</th>
                </tr>
            </thead>
            <tbody>
                {% for e in vacancies_by_city %}
                    <tr>
                        <td>{{ e.vacancy_count }}</td>
                        <td>{{ e.vacancy_share }}</td>
                        <td>{{ e.area_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{% static 'analytics/img/graphs/vacancies_by_city.png' %}" alt="Количество вакансий по годам">
    </div>
{% endblock %}
