{% load static %}
{% block content %}
    <h1>Навыки</h1>
    <h3>Самые востребованные навыки по годам</h3>
    <div>
        {% for e in top_skills %}
            <h2 style="text-align: center">
                {% if e.year == 0 %}
                    Частотность популярных навыков за всё время
                {% else %}
                    Частотность популярных навыков в {{ e.year }} году
                {% endif %}
            </h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Навык</th>
                            <th>Частота навыка</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for skill, frequency in e.skills_list.items %}
                            <tr>
                                <td>{{ skill }}</td>
                                <td>{{ frequency }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if e.year == 0 %}
                    <img src="{% static 'img/graphs/top_skills_0.png' %}">
                {% else %}
                    <img src="{% static 'img/graphs/top_skills_' %}{{ e.year }}.png">
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
